<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>常规设置</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.trizau.sileo.vcam</string>
            <key>key</key>
            <string>enableAudio</string>
            <key>label</key>
            <string>启用音频</string>
            <key>PostNotification</key>
            <string>com.trizau.sileo.vcam.prefschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.trizau.sileo.vcam</string>
            <key>key</key>
            <string>enableNotification</string>
            <key>label</key>
            <string>启用通知</string>
            <key>PostNotification</key>
            <string>com.trizau.sileo.vcam.prefschanged</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.trizau.sileo.vcam</string>
            <key>key</key>
            <string>minimizeUI</string>
            <key>label</key>
            <string>极简 UI 模式</string>
            <key>PostNotification</key>
            <string>com.trizau.sileo.vcam.prefschanged</string>
        </dict>
    </array>
</dict>
</plist>